<div class="top">
  <%= image_tag 'top1.jpg', class: "img-fluid p-5", alt: "Responsive image" %> 
  <%# https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2549453 からの画像 %>
  <div class="top-overlay">
    <p>ようこそ、ながのCakeへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>購入には会員登録が必要になります。</p>
  </div>
</div>

<h4>新着商品</h4>
<p><%= link_to "すべての商品を見る >", goods_path %></p>