<main>
  <h1>ジャンル変更</h1>
  <%= form_with model:@genre, local:true do |f| %>
    <div class="form-group">
      <p>ジャンル</p>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <p><%= f.submit "変更を保存" %></p>
    </div>
  <% end %>
</main>