<div class="container">
  <h4 class="text-center m-3"><strong>ご注文ありがとうございました！</strong></h4>
  <p class="text-center">
    ご注文ありがとうございます。</br>
    ご入金が確認でき次第、制作に取り掛からせていただきます。</br>
  　なお、発送は商品が全て準備できてからとなります。</br>
  　時期などによっては原料の入荷状況などにより、多少お時間をいただく場合がございます。</br>
  　何とぞご了承ください。</br>
  　<br>
  　その他質問などございましたら、遠慮なくお問い合わせください。
  </p>

  <div class="row">
    <span class="col-3"></span>
    <%= link_to "注文履歴一覧", orders_path, class: "col-3 text-center" %>
    <%= link_to "トップへ戻る", root_path, class: "col-3 text-center" %>
    <span class="col-3"></span>
  </div>
  
  <%= image_tag 'Thankyou.jpeg', class: "img-fluid" %> 
</div>

